footer.footer
  a.footer__logo(href="/")
    img(src="/images/weinert.png")
  p.footer__data
    strong Bodega y Cavas de Weinert
    span San Martín 5923, M5509 Luján de Cuyo, Mendoza. CP 5505.
    span Email: <a href="mailto:info@bodegaweinert.com">info@bodegaweinert.com</a> - Teléfono: <a href="tel:+5492612446669">+54 9 261 244 6669</a>
  p.footer__copy © Weinert 2020 | Prohibida la venta de alcohol a menores de 18 años 