.header {
    $h: &;

    @include trans;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    z-index: 1000;

    @include mq(md) {
        padding: 40px 5vw;
    }

    &.-scrolled {
        background: $white;
        padding: 15px;

        @include mq(md) {
            padding: 20px 5vw;
        }

        #{$h}__container {
            height: 50px;
        }


        #{$h}__logo {
            filter: brightness(0);
            z-index: 1000;
        }

        #{$h}__item {
            a {
                color: $black;
            }
        }

        #{$h}__store-button {
            @include mq(md) {
                @include StyledButton('outline', $black, $white);

                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }

        #{$h}__hamburguer {
            span {
                background: $black;
            }
        }
    }

    &__container {
        @include trans;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        @include mq(md) {
            height: 120px;
        }
    }

    &__logo {
        @include trans;

        height: 100%;
        z-index: 1000;

        img {
            @include trans;

            height: 100%;
        }
    }
    
    &__nav {
        @include trans;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        background: $white;

        @include mq(md) {
            position: static;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            width: auto;
            height: auto;
            transform: translateX(0);
            background: transparent;
        }
    }

    &__list {
        margin-left: 15px;

        @include mq(md) {
            display: flex;
            height: 100%;
            align-items: center;
            margin-left: 0;
        }
    }

    &__item {
        margin-bottom: 20px;
        position: relative;

        @include mq(md) {
            margin-right: 30px;
            margin-bottom: 0;
        }

        a {
            color: $black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;

            @include mq(md) {
                color: $white;
                font-size: 14px;
            }
        }

        &:after {
            @include trans;

            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background: $darkBeige;
            opacity: 0;
            width: 0;
        }

        &.-active,
        &:hover {
            &:after {
                opacity: 1;
                width: 100%;
            }
        }
    }

    &__store-button {
        @include StyledButton('outline', $black, $white);

        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        // border: 1px solid $white;
        text-decoration: none;
        margin-left: 15px;

        @include mq(md) {
            @include StyledButton('outline', $white, $darkGray);
            margin-left: auto;
        }

        span {
            display: flex;
            color: $black;
            margin-right: 20px;
            text-transform: uppercase;
            
            @include mq(md) {
                color: $white;
            }
        }

        .shopping-bag {
            path {
                fill: $darkGray;

                @include mq(md) {
                    fill: $white;
                }
            }
        }
    }

    &__hamburguer {
        @include trans;

        cursor: pointer;
        width: 25px;
        z-index: 1001;

        @include mq(md) {
            display: none;
        }

        span {
            @include trans;
            background-color: $mainColor;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span {
                background-color: $black;
            }

            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav {
            transform: translateX(0);
        }

        #{$h}__logo {
            filter: brightness(0);
        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
